*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    /* outline: 2px solid hotpink; */
    font-size: 62.5%; 
}


.nav{
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.title{
    font-size: 2rem;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title h1{
    font-size: 6.5rem;
    /* text-decoration: underline;
    text-decoration-color:#b31777; */
    border-bottom: 6px solid #b31777; /* Replace with your desired color and thickness */
    
    padding-bottom: -2px; /* Adjust the space between text and underline */
    text-align: center;
}

.title h5{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 10px;
}

.celeb_a{
    width: fit-content;

}

.celeb_a h2{
    text-align: center;
}

.celeb_b{
    width: fit-content;
}
.celeb_b h2{
    text-align: center;
}

.celeb-input-container{
    position: relative;
    height: fit-content;
}


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30vh;
	

}

/* Style for dropdown images */
.celeb-image {
    width: 40px;  /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 50%; /* Circular images */
    margin-right: 10px; /* Space between image and text */
}

/* Style for dropdown list items */


.conversation-topic{
    width: 350px;
    height: 70px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
	padding: 6px;
    margin-top: 30px;
}


.submit-celeb-btn{
   position: absolute;
   left: 50%;
   top: 70%;
   transform: translate(-50%);
   margin-top: 50px;
   background-color: #b31777;
   width: 200px;
   height: 45px;
   font-size: 1.5rem;
   border-radius: 20px;
}


.progress{
	position: relative;
	top:120px;
    margin-inline: 10%;
}
.progress-bar{
    background-color: #b31777 !important;
}


#all-names{
	font-size: 4rem;
	display: none;
}

#name-inputA, #name-inputB{
	background: transparent;
    padding: 8px 6px;
    width: 350px;
    height: 60px;
    font-size: 1.5rem;
    border-color:rgba(255,255,255,0.7);
    border-radius: 25px;
}


.overflow-auto {
	max-height: 200px; /* Set the maximum height for the suggestion options */
	overflow-y: auto;
}


.ui-autocomplete{
	width: 400px;

}
.ui-autocomplete .ui-menu-item {
	font-family: Arial, sans-serif; /* Set the desired font family */
	font-size: 2.5rem; /* Set the desired font size */
	
  }

  .podcast-image{
    width: 90vw;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20%;
  }


  #podcast-audio{
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 230px;
  }